.size--medium.svelte-1bj7z32{width:40px;height:40px}.size--large.svelte-1bj7z32{width:78px;height:78px}.size--medium.svelte-1bj7z32 svg{width:40px;height:40px}
div.svelte-w638th svg{width:40px}
section.svelte-13arwst svg{max-height:100%;max-width:100%}
