.personalInfo{
    overflow: hidden;
}
.personalInfo__image{
    width: 180px;
    height: 180px;
    background: #DFE3E5;
    border-radius: 50%;
    overflow: hidden;
}
.personalInfo__padLeft{
    padding-left: 65px;
}
.personalInfo__name{
    margin: 20px 0 0;
    font-weight: 400;
}
.personalInfo__roles{
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 3px;
}

.personalInfo__img{
    width: 100%;
}

.role{
    margin-bottom: 7px;
    color: #464847;
}

