.page--home{
    width: 350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.page--home .material-icons{
    color: #F47B20;
}
.presentation{
    margin-bottom: 20vh;
    height: 365px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.presentation__button{
    position: absolute;
    left: 0;
    bottom: -50px;
    padding: 0;
    background: none;
    border: none;
    height: 24px;
    outline: none;
}
.presentationBottom{
    color: #1C1C1C;
    font-size: 21px
}

.presentationBottom__link{
    text-decoration: none;
    font-size: 14px;
    color: #454545;
    background: #C6D8D3;
    padding: 5px 10px;
}

.presentation__content{
    text-align: left;
    overflow: hidden;
    background: #02728F;
    position: relative;
    box-sizing: border-box;
    box-shadow: 1px 5px 9px 0 rgba(0,0,0,0.3);
}
.presentation__intro{
    padding-left: 16px;
}
.presentation__content ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.presentation__content ul li{
    height: 48px;
    line-height: 48px;
}

.presentation__nextButton{
    padding: 0;
    border: none;
    color: #E8E9EB;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    outline: none;
}

.presentation__title{
    white-space: nowrap;
}

.presentationBottom__linkedIn{
    color: #0077B5;
}

.presentationBottom__app{
    color: #0077B5;
}

.presentationBottom__list{
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.presentationBottom__list li{
    display: block;
    margin-bottom: 7px;
}
.center-aligned{
    display: flex;
    justify-content: center;
}
.cv{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background: #F8F9FA;
}

.cv__content{
    display: flex;
    padding: 15px 0;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.cv__left{
    width: 250px;
}
.cv__middle{
    flex: 1;
    overflow-y: auto;
    padding-right: 7px;
    padding-bottom: 10px;
}
.cv__middle::-webkit-scrollbar-track {
    background-color: transparent;
  }

.cv__middle::-webkit-scrollbar {
    width: 17px;
    background-color: transparent;
    width: 0px !important;  
    height: 0px !important;  
}

.cv__middle::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 8px;
    background-color: transparent;
    background-clip: padding-box;
}

.cv__middle:hover::-webkit-scrollbar-thumb {
    background-color: #DDD;
}
  
.cv__right{
    flex-basis: 25%;
    padding-left: 25px;
}
.cv .nav{
    margin: 0;
    padding: 0;
    padding-left: 65px;
    list-style: none;
    margin-top: 25px;
}
.cv .nav li{
    margin-bottom: 17px;
}
.cv .nav__link{
    text-decoration: none;
    color: #B4B8C0;
    font-weight: 400;
}
.cv .nav__link--selected{
    color: #000;
}

.linkedin{
    width: 32px;
    height: 32px;
    background: #FFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px 2px rgba(221, 221, 221, .3)
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .cv__content{
        flex-direction: column;
        overflow-y: scroll;
    }
    .personalInfo__padLeft{
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .container{
        height: auto!important;
        overflow-y: scroll;
    }
    .cv{
        height: 100%;
    }
    .project{
        border: none;
        padding: 0;
        background: transparent;
    }
    .cv__left{
        width: 100%;
    }
    .cv .nav{
        background: #FFF;
        padding: 17px 0 17px;
        padding-left: 25px;
    }
    .cv .nav li:last-child{
        margin: 0;
    }
    .cv__middle{
        order: 2;
        flex: auto;
        overflow-y: initial;
        padding-left: 7px;
    }
}
