.page--home{
    width: 350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.page--home .material-icons{
    color: #F47B20;
}
.presentation{
    margin-bottom: 20vh;
    height: 365px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.presentation__button{
    position: absolute;
    left: 0;
    bottom: -50px;
    padding: 0;
    background: none;
    border: none;
    height: 24px;
    outline: none;
}
.presentationBottom{
    color: #1C1C1C;
    font-size: 21px
}

.presentationBottom__link{
    text-decoration: none;
    font-size: 14px;
    color: #454545;
    background: #C6D8D3;
    padding: 5px 10px;
}

.presentation__content{
    text-align: left;
    overflow: hidden;
    background: #02728F;
    position: relative;
    box-sizing: border-box;
    box-shadow: 1px 5px 9px 0 rgba(0,0,0,0.3);
}
.presentation__intro{
    padding-left: 16px;
}
.presentation__content ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.presentation__content ul li{
    height: 48px;
    line-height: 48px;
}

.presentation__nextButton{
    padding: 0;
    border: none;
    color: #E8E9EB;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    outline: none;
}

.presentation__title{
    white-space: nowrap;
}

.presentationBottom__linkedIn{
    color: #0077B5;
}

.presentationBottom__app{
    color: #0077B5;
}

.presentationBottom__list{
    text-align: left;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.presentationBottom__list li{
    display: block;
    margin-bottom: 7px;
}
.cv{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 0 35px;
    background: #FFF;
}

.cv__content{
    display: flex;
    padding: 15px 0;
}

.cv__left{
    flex: 1;
}

.cv__right{
    flex-basis: 25%;
}
