.appList{
    width: 350px;
}

.appItem{
    display: flex;
    align-items: center;
}
.appItem__links{
    padding-top: 5px;
}
.appItem__links a{
    text-decoration: none;
    font-size: 10px;
}
.appItem__left{
}

.appItem__right{
    padding-left: 10px;
}

.appItem__iconWrapper{
    width: 50px;
    height: 50px;
}

.appItem__icon{
    width: 100%;
    border-radius: 22.5%;
    border: 1px solid #F47B20;
}

.appItem__description{
    margin: 7px 0 0;
    font-size: 12px;
    color: #6E6E6E;
}

.appItem a{
    color: #02728F;
}

.appList__back{
    color: #02728F;
}
