.box--skill{
    margin-bottom: 23px;
}

.skill{
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    background: #F8F9FA;
    margin-bottom: 7px;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid #DDD;
}

.skill--experienced{
    width: 80%;
}
